@import './../styles/mixins.scss';
@import './../styles/vars.scss';

.header {



   .conteiner {
      @extend %conteiner;





      .inner {
         display: flex;
         justify-content: space-between;
         align-items: center;

         height: 60px;

         @media screen and (min-width:768px) {
            height: 97px;
         }



         .headerLeft {
            @media screen and (min-width:576px) {
               display: flex;
               align-items: center;
            }

            .logo {
               margin-right: 45px;
               transform: translate(0px, 4px);

               @media screen and (min-width:576px) {
                  margin-right: 36px;
                  transform: translate(0px, 2px);
               }

               @media screen and (min-width:768px) {
                  width: 128px;
                  height: 24px;
                  transform: translate(1px, -2px);
               }

            }

            .cityLink {
               @include textEdit(400, 0.875rem, 0.823);

               @media screen and (min-width:576px) {
                  display: none;
               }

            }

            .blockLink {
               display: none;

               @media screen and (min-width:1280px) {
                  transform: translate(3px, -3px);

               }

               a,
               span {
                  @include textEdit(400, 0.875rem, 0.823);
               }


               @media screen and (min-width:576px) {
                  display: block;
               }
            }
         }

         .headerRight {
            @media screen and (min-width:1280px) {
               display: none;
            }
         }
      }
   }
}